.welcome{
    padding-top: 100px;
    color: rgb(255, 255, 255);
    font-size: xxx-large;
}
.login,.register{

    margin: 40px;
    width: 400px;
    background-color: transparent;
    border: 0;
    font-size:larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.login:hover{
   background-color: rgba(0,0,0,0.1);
   border-radius: 4px;
}
.register:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
 }

.home{
    width: 100%;
    background-image: url('../css/bank.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 800px;
    text-align: center;
    color:white;
}
Navlink{
    color:green
}